In [104]:
import pandas as pd
data = [10, 20, 30, 40]
v = pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [105]:
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35],
'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [106]:
#Print Summary of transaction data set
df=pd.read_csv('transactions.csv')
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [107]:
#Print Numbers of Attributes
df.shape[1]

5

In [108]:
#Print Numbers of Records
df.shape[0]

10

In [109]:
#Get the row names
print(df.index.tolist())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
#Get the column names
print(df.columns.tolist())

['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [111]:

#View top 10 Records
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [112]:
#There is also a tail() method for viewing the last rows of the
#DataFrame.
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [113]:
#➢he info() method also tells us how many Non-Null values there
#are present in each column, and in our data set.
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [114]:
df.describe().loc['mean']

TransactionID    5.500000
UserID           3.444444
ProductID        3.400000
Quantity         2.400000
Name: mean, dtype: float64

In [115]:
df.describe().loc['count']

TransactionID    10.0
UserID            9.0
ProductID        10.0
Quantity         10.0
Name: count, dtype: float64

In [116]:
df.describe().loc['min']

TransactionID    1.0
UserID           1.0
ProductID        2.0
Quantity         1.0
Name: min, dtype: float64

In [117]:
df.describe().loc['max']

TransactionID    10.0
UserID            7.0
ProductID         5.0
Quantity          6.0
Name: max, dtype: float64

In [118]:
df.describe().loc[['mean','max','min','count']]

       TransactionID    UserID  ProductID  Quantity
mean             5.5  3.444444        3.4       2.4
max             10.0  7.000000        5.0       6.0
min              1.0  1.000000        2.0       1.0
count           10.0  9.000000       10.0      10.0

In [119]:
#Accessing a single column
print(df['UserID'])

0    7.0
1    3.0
2    3.0
3    1.0
4    2.0
5    2.0
6    3.0
7    NaN
8    7.0
9    3.0
Name: UserID, dtype: float64

In [120]:
#Accessing a multiple columns
print(df[['UserID','Quantity']])

   UserID  Quantity
0     7.0         1
1     3.0         1
2     3.0         1
3     1.0         3
4     2.0         1
5     2.0         6
6     3.0         1
7     NaN         3
8     7.0         3
9     3.0         4

In [121]:
#it returns the no of attributes
df.shape[1]

5

In [122]:
#returns the no of columns
df.shape[0]

10

In [123]:
#column names
df.columns

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [124]:
#row names
df.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [125]:
#view the top 10 records
df.head(10)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [126]:
#Change the name of column “ Quantity” to “Quant”
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [127]:
#Change the name of columns ProductID and UserID
df.rename(columns={"ProductID":"PID","UserID":"UID"}, inplace=True)
print(df.head())
df

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [128]:
#Order the rows of transactions by TransactionId descending, if ascending then ascending=True
import pandas as pd
df = pd.read_csv("transactions.csv")
df
df_sorted = df.sort_values(by=["TransactionID"],
ascending=[False])
print(df_sorted.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity
9             10      2016-05-08     3.0          4         4
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
6              7      2013-12-30     3.0          4         1
5              6      2013-12-23     2.0          5         6

In [129]:
#Order the rows of transactions by Quantity ascending, TransactionDate descending
df_sorted = df.sort_values(by=["Quantity", "TransactionDate"],
ascending=[True, False])
print(df_sorted.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [130]:
#Set the column order of Transactions as ProductID,Quantity, TransactionDate, TransactionID, UserID
import pandas as pd
df = pd.read_csv("transactions.csv")
df
#ascending, TransactionDate descending
df=df[sorted(df.columns)]
df

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [131]:
#Make UserID the first column of transactions
df = df[['UserID', 'ProductID', 'Quantity', 'TransactionDate', 'TransactionID']]
df

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [132]:
#Extracting arrays from a Data Frame. Get the 2nd   column

s=df.iloc[:, 1].values
print(s)

[2 4 3 2 4 5 4 2 4 4]

In [133]:
#Get the ProductID Array
product_id=df['ProductID'].values
print(product_id)

[2 4 3 2 4 5 4 2 4 4]

In [134]:
#Row subsetting, subset rows 1,3 and 6
import pandas as pd
df = pd.read_csv("transactions.csv")
subset_df=df.iloc[[0, 2, 5]]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [135]:


#subset rows excluding 1,3 and 6
subset_df=df.drop(index=[0, 2, 5])
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [136]:
#Subset the first three rows
subset_df=df.head(3)
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [137]:
#Subset the last 2 rows
subset_df=df.tail(2)
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [138]:
#Subset rows excluding the last 2 rows
subset_df=df.iloc[: -2]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [139]:
#Subset rows excluding the first 3 rows
subset_df=df.iloc[3: ]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [140]:
#Subset rows where Quantity>1

subset_df = df[df["Quantity"] > 1]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [141]:
#Subset rows where UserID=2
subset_df=df[df["UserID"] == 2]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

In [142]:
#Subset rows where Quantity>1 and UserID=2
subset_df = df[(df["Quantity"] > 1) & (df["UserID"] == 2)]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [143]:
df['UserID']=df['UserID'].fillna(df['UserID'].median())
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     3.0          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [144]:
#Subset rows where Quantity + UserID is >3
df['subset_df']=df["Quantity"] + df["UserID"]
x=df[df['subset_df']>3]
x

   TransactionID TransactionDate  UserID  ProductID  Quantity  subset_df
0              1      2010-08-21     7.0          2         1        8.0
1              2      2011-05-26     3.0          4         1        4.0
2              3      2011-06-16     3.0          3         1        4.0
3              4      2012-08-26     1.0          2         3        4.0
5              6      2013-12-23     2.0          5         6        8.0
6              7      2013-12-30     3.0          4         1        4.0
7              8      2014-04-24     3.0          2         3        6.0
8              9      2015-04-24     7.0          4         3       10.0
9             10      2016-05-08     3.0          4         4        7.0

In [145]:
#Subset rows where an external array, foo, is True
foo=df['subset_df']
print(foo)

0     8.0
1     4.0
2     4.0
3     4.0
4     3.0
5     8.0
6     4.0
7     6.0
8    10.0
9     7.0
Name: subset_df, dtype: float64

In [146]:
#Subset rows where an external array, bar, is positive
sub_foo = df[foo > 0]
print(sub_foo)

   TransactionID TransactionDate  UserID  ProductID  Quantity  subset_df
0              1      2010-08-21     7.0          2         1        8.0
1              2      2011-05-26     3.0          4         1        4.0
2              3      2011-06-16     3.0          3         1        4.0
3              4      2012-08-26     1.0          2         3        4.0
4              5      2013-06-06     2.0          4         1        3.0
5              6      2013-12-23     2.0          5         6        8.0
6              7      2013-12-30     3.0          4         1        4.0
7              8      2014-04-24     3.0          2         3        6.0
8              9      2015-04-24     7.0          4         3       10.0
9             10      2016-05-08     3.0          4         4        7.0

In [147]:
#Subset rows where foo is TRUE or bar is negative
sub=df[('subset_df' == True) | (foo < 0)]
print(sub)

Empty DataFrame
Columns: [TransactionID, TransactionDate, UserID, ProductID, Quantity, subset_df]
Index: []

In [148]:
#Subset the rows where foo is not TRUE and bar is not negative

sub1=df[('subset_df'!= True) | (foo < 0)]
print(sub1)

   TransactionID TransactionDate  UserID  ProductID  Quantity  subset_df
0              1      2010-08-21     7.0          2         1        8.0
1              2      2011-05-26     3.0          4         1        4.0
2              3      2011-06-16     3.0          3         1        4.0
3              4      2012-08-26     1.0          2         3        4.0
4              5      2013-06-06     2.0          4         1        3.0
5              6      2013-12-23     2.0          5         6        8.0
6              7      2013-12-30     3.0          4         1        4.0
7              8      2014-04-24     3.0          2         3        6.0
8              9      2015-04-24     7.0          4         3       10.0
9             10      2016-05-08     3.0          4         4        7.0

In [149]:
#Subset by columns 1 and 3
sub3=df.iloc[:, 0:2]
print(sub3)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [150]:
#Subset by columns TransactionID and TransactionDate
sub4=['TransactionID', 'TransactionDate']
sub_set=df[sub4]
print(sub_set)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [151]:
#Subset by columns TransactionID and TransactionDate with logical operator
subset = df[(df['Quantity'] > 1)][['TransactionID', 'TransactionDate']]
subset

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [152]:
#Subset columns by a variable list of column names
columns_to_select = ['TransactionID', 'TransactionDate']
subset_columns = df[columns_to_select]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [153]:
#Subset columns excluding a variable list of column names
columns_to_exclude = ['Quantity', 'ProductID']
subset_columns_excluded = df[[col for col in df.columns if col not
in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID  subset_df
0              1      2010-08-21     7.0        8.0
1              2      2011-05-26     3.0        4.0
2              3      2011-06-16     3.0        4.0
3              4      2012-08-26     1.0        4.0
4              5      2013-06-06     2.0        3.0
5              6      2013-12-23     2.0        8.0
6              7      2013-12-30     3.0        4.0
7              8      2014-04-24     3.0        6.0
8              9      2015-04-24     7.0       10.0
9             10      2016-05-08     3.0        7.0

In [163]:
#Inserting and updating values
#df.loc[len(df)] = [new_user_id, new_product_id, new_quantity,new_transaction_date]
df["new"]="value"
df
df.loc[df["ProductID"]==2,"new"]=5
df

,TransactionID,TransactionDate,UserID,ProductID,Quantity,subset_df,new
0,1,2010-08-21,7.0,2,1,8.0,5
1,2,2011-05-26,3.0,4,1,4.0,value
2,3,2011-06-16,3.0,3,1,4.0,value
3,4,2012-08-26,1.0,2,3,4.0,5
4,5,2013-06-06,2.0,4,1,3.0,value
5,6,2013-12-23,2.0,5,6,8.0,value
6,7,2013-12-30,3.0,4,1,4.0,value
7,8,2014-04-24,3.0,2,3,6.0,5
8,9,2015-04-24,7.0,4,3,10.0,value
9,10,2016-05-08,3.0,4,4,7.0,value

In [155]:
#Convert the TransactionDate column to type Date 
df['TransactionDate'] =pd.to_datetime(df['TransactionDate'])
df

   TransactionID TransactionDate  UserID  ProductID  Quantity  subset_df
0              1      2010-08-21     7.0          2         1        8.0
1              2      2011-05-26     3.0          4         1        4.0
2              3      2011-06-16     3.0          3         1        4.0
3              4      2012-08-26     1.0          2         3        4.0
4              5      2013-06-06     2.0          4         1        3.0
5              6      2013-12-23     2.0          5         6        8.0
6              7      2013-12-30     3.0          4         1        4.0
7              8      2014-04-24     3.0          2         3        6.0
8              9      2015-04-24     7.0          4         3       10.0
9             10      2016-05-08     3.0          4         4        7.0

In [99]:
#Insert a new column, Foo=UserID+ProductID
df['Foo'] = df['UserID'] + df['ProductID'] 
df

   TransactionID TransactionDate  UserID  ProductID  Quantity  subset_df   Foo
0              1      2010-08-21     7.0          2         1        8.0   9.0
1              2      2011-05-26     3.0          4         1        4.0   7.0
2              3      2011-06-16     3.0          3         1        4.0   6.0
3              4      2012-08-26     1.0          2         3        4.0   3.0
4              5      2013-06-06     2.0          4         1        3.0   6.0
5              6      2013-12-23     2.0          5         6        8.0   7.0
6              7      2013-12-30     3.0          4         1        4.0   7.0
7              8      2014-04-24     3.0          2         3        6.0   5.0
8              9      2015-04-24     7.0          4         3       10.0  11.0
9             10      2016-05-08     3.0          4         4        7.0   7.0